{% extends 'Cars/basic.html' %}
    <!-- till here -->
  
{% block body %}
{% load static %}

<h1>About Us</h1> 
<p>
    CARS24 is a next generation ecommerce platform for pre-owned autos (cars and bikes). We provide the best experience for car buyers by offering a wide assortment of certified cars that are home delivered in a click of a button while sellers get the best price of their vehicles in less than 1 hour.

The first-class destination for second-hand cars!
CARS24 is your single stop for buying or selling used cars, all over India. We've brought together cutting-edge technology with country-wide partners and more importantly, deep understanding of what buyers and sellers need. We solve all pain points associated with selling an existing car, or purchasing a pre-loved one. Whether you're buying or selling, you get a quick, easy, fair, transparent, hassle (and haggle) free process.

<h2>Want to know about buying cars with us?</h2>
If you’re in the market for a pre-used car, the process can be daunting. Finding the car, talking to the owner, negotiating, examining its condition, wondering what you haven’t been told, final purchase, RC Transfer, money transfer… phew, that’s a lot for you to go through, especially in a market that’s quite scattered. By visiting CARS24, we make this as simple as any other form of online shopping.

Our large catalogue of cars has every make and model you want, with a thorough vetting process ensuring full transparency in quality. With easy financing options, RC Transfer assistance and a 6 month warranty on each car, we take all the uncertainty out of the purchase process. You focus on where you’ll go when your newly purchased car comes home, we’ll take care of the rest.

<h2>More interested in selling your car with us?</h2>
Traditionally, selling old cars is painful enough to make you stall the whole process. It takes 20-30 attempts to get the correct valuation, meet buyers face-to-face, negotiate each time, and then of course, wait several months for that RC Transfer. Do you really want to put yourself through that?

Instead, log on to CARS24, describe your car, get a fair offer on it instantly, and sell it in less than an hour from your home or our branch. Our network of channel partners across the country bid for every car sold on our platform, ensuring a quick sale with a price that you will be happy with. We aim to bring down the car-selling process to a matter of a few hours, and let you sell your car from anywhere without even having to get off your couch.
</p>

{% endblock %}