{% extends 'Cars/basic.html' %}
<!-- till here -->

{% block body %} {% load static %}
<section id="sec2">
  <h1 align="center" class="head">Welcome to Cars 24x7!!!</h1>
  <div id="box" class="row">
    <div class="one _3york container">
      <h2 class="_3york">WHY BUY FROM US</h2>
      <ul>
        <li>
          <div>
            <span
              class="lazy-load-image-background blur"
              style="
                background-image: ;
                background-size: ;
                display: inline-block;
              "
              ><span class="" style="display: inline-block"></span></span
            ><noscript
              ><img
                src="https://www.cars24.com/js/6f751a9d48793a9685f4a1313fed19ab.svg"
                alt="Fast financing"
            /></noscript>
          </div>
          <div>
            <h3 class="_3york">
              Easy
              <span class="_3york">Financing Options</span>
            </h3>
            <p class="_3york">
              Become eligible for Zero Down Payment via EMIs of up to 72 months
              and instant loans.
            </p>
          </div>
        </li>
        <li>
          <div>
            <span
              class="lazy-load-image-background blur"
              style="
                background-image: ;
                background-size: ;
                display: inline-block;
              "
              ><span class="" style="display: inline-block"></span></span
            ><noscript
              ><img
                src="https://www.cars24.com/js/72ee8594f9a2e0d3f78d675ff84c0333.svg"
                alt="delivered to you"
            /></noscript>
          </div>
          <div>
            <h3 class="_3york">12-Month <span class="_3york">Warranty</span></h3>
            <p class="_3york">
              Enjoy peace of mind with our 12-Month Warranty that is standard
              across all cars that we sell.
            </p>
          </div>
        </li>
        <li>
          <div>
            <span
              class="lazy-load-image-background blur"
              style="
                background-image: ;
                background-size: ;
                display: inline-block;
              "
              ><span class="" style="display: inline-block"></span></span
            ><noscript
              ><img
                src="https://www.cars24.com/js/7f7b7d5596e5e520b606dd534be627b0.svg"
                alt="Cars24 Quality Promise"
            /></noscript>
          </div>
          <div class="_3york"	>
            <h3 class="_3york">140-Quality <span class="_3york">Checks</span></h3>
            <p class="_3york"> 
              Inspected across 140 parameters and refurbished by auto-experts,
              our cars are ready for the road.
            </p>
          </div>
        </li>
        <li>
          <div>
            <span
              class="lazy-load-image-background blur"
              style="
                background-image: ;
                background-size: ;
                display: inline-block;
              "
              ><span class="" style="display: inline-block"></span></span
            ><noscript
              ><img
                src="https://www.cars24.com/js/bbbbd42860bbd47dabc26a2c8ead6905.svg"
                alt="100% refund"
            /></noscript>
          </div>
          <div>
            <h3 class="_3york">7-Day<span class="_3york">Return</span></h3>
            <p class="_3york">
              Love it, keep it. Changed your mind? Return it within 7 days for a
              full refund.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

{% endblock %}
